@model IEnumerable<DotNetAppSqlDb.Models.Todo>

@{
    ViewBag.Title = "Index";
}
    <div id="#Actual" style="background-image:url('/Content/Images/background.jpg');height:100vh;color:white">
        <h2>List Of Participants</h2>

        <p>
            @Html.ActionLink("Register Now ", "Create", null, new { @style = "font-size:24px;color:magenta" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @style = "color:magenta" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @style = "color:magenta" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @style = "color:magenta" })
                    </td>
                </tr>
            }

        </table>
        </div>
